body {
  font-family: "Raleway", sans-serif;
}

.jumbotron {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  margin-bottom: 0px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: whitesmoke;
}

#header {
  background-color: #007f5f;
  color: whitesmoke;
  border-style: solid;
  border-width: medium;
  border-color: whitesmoke;
  padding: 30px;
}

#imgHeader {
  border-style: solid;
  border-width: medium;
  border-color: whitesmoke;
  border-radius: 200px;
}

nav {
  border-style: solid;
  border-width: thin;
  border-color: black;
}

.navbar-text {
  color: black;
}

#personalImage {
  text-align: center;
}

hr {
  background-color: black;
}

.main {
  padding: 30px;
  border-style: solid;
  border-width: medium;
  border-color: black;
  background-color: white;
}

p {
  margin-bottom: 0px;
}

.card {
  border-color: black;
  border-radius: 0px;
}

main {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

section {
  padding: 50px;
}

.carousel-caption {
  background-color: whitesmoke;
  color: black;
  border-style: solid;
  border-width: medium;
  border-color: black;
  background-color: white;
}

.nav-link {
  text-align: center;
  margin: 0px 20px 0px 20px;
  color: black;
  border-style: solid;
  border-width: thin;
  border-color: black;
  background-color: white;
  border-radius: 100px;
}
.list-group-item {
  border: 0px;
  font-size: 12.5px;
}

.navbar-text {
  padding-right: 30px;
  border-right-style: solid;
}

footer {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  border-top-color: whitesmoke;
  border-top-style: solid;
}
